.Product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
    
    
}

.container{
    display: flex;
   justify-content: space-evenly;
}
.filter{

display: flex;
justify-content: space-between;
}
.box1{
    width: 15%;
    display: flex;
 justify-content: space-between;
 
}
.box2{
    width:80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    

}
.box3{
    cursor: pointer;
}
.box3:hover{
    color: red;
}
